[Unit]
Description=minecraftfailure

[Service]
Type=oneshot
ExecStart=/opt/mcserver/mccmd system-start-failure > /opt/mcserver/logs/systemlogs.txt 2>&1